<% content_for :title, t('.blog')%>

<div class="content-body">
  <ul class="breadcrumbs">
    <li><%=link_to t('.ecuadorTourism'),  index_path%></li>
    <li><%=link_to t('.blog'),  :class => 'current' %></li>
  </ul>
        
  <div class="row">
    <div class="large-3 columns">
       <%= render "shared/linkregion" %>
    </div>
    <div class="large-9 columns">
      <h4><%= t('.blog') %></h4>
       <% @blogs.each do |blog| %>
        <div class="blog">
          <div class="img_blog">
            <%= link_to (image_tag(blog.image_url)), blog %>
          </div>
          <div class="blog-description">
            <h5><%= link_to (blog.title), blog %></h5>
            <p><%= sanitize(blog.article) %></p>
          </div>
        </div>
       <% end %>  
       <div class="row">
  <div class="fb-comments" data-href="http://zippy-dragonstone-46-129231.euw1.nitrousbox.com/list_blog/index?locale=en" data-numposts="5" data-colorscheme="light"></div>
        </div>
     </div>
  </div>
</div>


<%= content_for :scripts do %>
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/es_LA/sdk.js#xfbml=1&version=v2.0";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<% end %>