<script type="text/javascript" src="../js/jquery-1.6.4.min.js"></script>
<script type="text/javascript" language="JavaScript" src="jquery.jparallax.min.js" ></script>
<script type="text/javascript" language="JavaScript" src="jquery.event.frame.js" ></script>

<div class="content-body">
  <ul class="breadcrumbs">
    <li><a href="#"> <%= render_breadcrumbs :separator => ' / ' %></a></li>
  </ul>
        
  <div class="row">
      <h4><%= t('.blog') %></h4>
      <div id="parallax" class="clear">
        <div class="parallax-layer" style="width:1200px; height:250px;">
          <%= image_tag('butterflies3.png') %>
        </div>
        <div class="parallax-layer" style="width:500px; height:250px;">
          <%= image_tag('pelicano.png', height: '900', width: '900') %>
        </div>
        <div class="parallax-layer" style="width:500px; height:250px;">
          <%= image_tag ('foca.png'), {style: "margin-left: 50%; padding-top: 5px;"}%>
        </div>
      </div>  
    </div>
  <div class="row">
      <% @blogs.each do |blog| %>
        <div class="blog">
          <div class="img_blog">
            <%= link_to (image_tag(blog.image_url)), blog %>
          </div>
          <div class="des_location">
            <h5><%= link_to (blog.title), blog %></h5>
            <%= sanitize(blog.article) %>
              </div>
        </div>
      <% end %>  
    </div>
  <div class="row">
     <div class="fb-comments" data-href="http://zippy-dragonstone-46-129231.euw1.nitrousbox.com/list_blog/index?locale=en" data-numposts="5" data-colorscheme="light"></div>
    </div>
</div>

<%= content_for :scripts do %>
<script type="text/javascript">
 jQuery(document).ready(function() 
{
    $('#parallax .parallax-layer')
    .parallax({
        mouseport: $('#parallax')
    });
});
</script>  


<script type="text/javascript">
  (function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/es_LA/sdk.js#xfbml=1&version=v2.0";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<% end %>