<div class="content-body">
  <div class ="list_activity">
    <ul class="breadcrumbs">
      <li><a href="#"> <%= render_breadcrumbs :separator => ' / ' %></a></li>
    </ul>
    <div class = "row">
      <div class = "large-3 columns">
        <div class ="search-div">
          <h4><strong><%= t('.searchEvent') %></strong></h4>
          <div class= "select-destination">
          <ul class="tabs" data-tab>
            <li class="tab-title active"><a href="#panel2-1"><%= t('.byCity')%></a></li>
            <li class="tab-title"><a href="#panel2-2"><%= t('.byType')%></a></li>
          </ul>
          <div class="tabs-content">
            <div class="content active" id="panel2-1">
              <form>
                <div class="row">
                  <div class="large-12 columns">
                    <label><%= t('.selectCity')%>
                     <%= form_tag({ controller: 'list_activity', action: 'index' }, method: 'get') do %>
                      <%= select_tag 'search_city', option_groups_from_collection_for_select(@regions, :cities, :name, :id, :name, 1) %>
                      <%= submit_tag "Search", name: nil, class: 'button tiny radius' %>
                    <% end %> 
                    </label>
                  </div>
                </div>
              </form>
            </div>
            <div class ="content" id="panel2-2">
              <form>
                <div class="row">
                  <div class="large-12 columns">
                    <label><%= t('.selectTypeDestination')%>
                    <%= form_tag({ controller: 'list_activity', action: 'index' }, method: 'get') do %>
                    <%= select_tag 'search_topic', options_from_collection_for_select(TypeActivity.all, :id, :name) %>
                      <%= submit_tag "Search", name: nil, class: 'button tiny radius' %>
                    <% end %> 
                    </label>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
        </div>
      </div>
      <div class = "large-9 columns">
        <h4><strong><%= t('.activities') %></strong></h4>
        <div class= "row">
          <% @activities.each do |activity| %>
            <div class="destination">
              <div class="img_location">
                <%= link_to (image_tag(activity.image_url)), activity %>
              </div>
              <div class="des_location">
                <h5><%= link_to (activity.name), activity %></h5>
                <%= sanitize(activity.summary) %>
               <%= button_to 'Add to Plan', line_destinations_path(activity_id: activity),  {class: 'button tiny radius'} %>
                <p>Averate rating</p>
                <div id= "live-review"></div>
                <span id="live"></span>
              </div>
            </div>
            <% end %>  
          </div>
        <%= paginate @activities %>
       </div>
    </div>
  </div>
</div>
