<p id="notice"><%= notice %></p>

<p>
  <strong>String:</strong>
  <%= @event.string %>
</p>

<p>
  <strong>City:</strong>
  <%= @event.city %>
</p>

<p>
  <strong>String:</strong>
  <%= @event.string %>
</p>

<p>
  <strong>Text:</strong>
  <%= @event.text %>
</p>

<p>
  <strong>Text:</strong>
  <%= @event.text %>
</p>

<p>
  <strong>Date:</strong>
  <%= @event.date %>
</p>

<p>
  <strong>Text:</strong>
  <%= @event.text %>
</p>

<p>
  <strong>Float:</strong>
  <%= @event.float %>
</p>

<p>
  <strong>Float:</strong>
  <%= @event.float %>
</p>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
