<script type="text/javascript" src="https://apis.google.com/js/plusone.js"></script>
<% content_for :title,  @event.name%>

<div class = "content-body">
  <div class="show-event">
    <ul class="breadcrumbs">
      <li><%=link_to t('.ecuadorTourism'),  index_path%></li>
      <li><%=link_to t('.events'), list_event_index_path%></li>
      <li><%=link_to @event.name, :class => 'current' %></li>
    </ul>
    <div class ="row">
      <div class ="large-4 columns">
        <div id= "calendars">
        </div>
      </div>
      <div class= "large-8 columns"> 
        <!--  <p id="notice"><%= notice %></p> -->
        <h3><%= @event.name %></h3>
        <div class = "row">
          <div class = "large-8 columns">
            <ul class="social-share-list">
              <div class="row">
                <li class="twt">
                  <%= tweet_button count: 'horizontal' %>
                </li>
                <li class="pi">
                  <%= pinit_button(url: request.url, media: @event.image_url, description: "Amazing Picture") %>
                </li>
                <li class="fb">
                  <%= like_button(690575874330211) %>
                </li>
                <li class = "gp">
                  <%= google_plus_button %>
                </li>
              </div>
            </ul>
          </div>
          <div class = "large-4 columns">
            <h5>Share:</h5><%= social_share_button_tag(@event.image_url) %>         
         </div>
        </div>
        <div class = "row">
          <div class="div-orbit">
            <ul class="example-orbit-content" data-orbit>
             <li data-orbit-slide="headline-1">
               <div>
                 <%= image_tag(@event.image_url) %>
               </div>
             </li>
             <li data-orbit-slide="headline-2">
               <div>
                 <%= image_tag(@event.image_url_two) %>
               </div>
             </li>
             <li data-orbit-slide="headline-3">
               <div>
                 <%= image_tag(@event.image_url_three) %>
               </div>
             </li>
           </ul>
          </div>
        </div>
        <div class = "row">
          <%= button_to "new", new_booking_path(event_id: @event.id),  {class: 'button tiny radius'} %>
          <div class = "large-12 columns">
            <div class ="description-event">
              <p>
                <strong><%= t('.description') %></strong>
                <%= @event.description %>
              </p>
               <p>
                 <strong><%= t('.date') %></strong>
                <%= @event.date %>
              </p>

              <p>
                <strong><%= t('.place') %></strong>
                <%= @event.address %>
              </p>
            </div>
          </div>
        </div>
        <div class = "row">
           <div class = "large-12 columns">
             <div class ="video">
               <div class="flex-video">
                  <iframe width="354" height="210" src="//<%= @event.video_url %>" frameborder="0" ></iframe>
                </div>
             </div>
           </div>
         </div>
      </div>
    </div>
  </div>
</div>

