<% content_for :title,  t('.destinations')%>

<div class="content-body">
  <ul class="breadcrumbs">
    <li><%=link_to t('.ecuadorTourism'),  index_path %></li>
    <li><%=link_to t('.destinations'), :class => 'current'%></li>
  </ul>
  <div class = "row">
    <div class = "large-3 columns">
      <div class ="search-div">
        <h5><strong><%= t('.searchDestination') %></strong></h5>
        <div class= "select-destination">
          <ul class="tabs" data-tab>
            <li class="tab-title active"><a href="#panel2-1"><%= t('.byCity')%></a></li>
            <li class="tab-title"><a href="#panel2-2"><%= t('.byType')%></a></li>
          </ul>
          <div class="tabs-content">
            <div class="content active" id="panel2-1">
              <form>
                <div class="row">
                  <div class="large-12 columns">
                    <label><%= t('.selectCity')%>
                     <%= form_tag({ controller: 'destination_list', action: 'index' }, method: 'get') do %>
                      <%= select_tag 'search_city', option_groups_from_collection_for_select(@regions, :cities, :name, :id, :name, 1) %>
                      <%= submit_tag t('.search'), name: nil, class: 'button tiny radius' %>
                    <% end %> 
                    </label>
                  </div>
                </div>
              </form>
            </div>
            <div class ="content" id="panel2-2">
              <form>
                <div class="row">
                  <div class="large-12 columns">
                    <label><%= t('.selectTypeDestination')%>
                    <%= form_tag({ controller: 'destination_list', action: 'index' }, method: 'get') do %>
                    <%= select_tag 'search_topic', options_from_collection_for_select(TypeDestination.all, :id, :name) %>
                      <%= submit_tag "Search", name: nil, class: 'button tiny radius' %>
                    <% end %> 
                    </label>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
        </div>
        <div class ="row">
          <div class="plan">
             <%= render @plan %>
          </div>
        </div> 
      </div>
    <div class = "large-9 columns">
        <h4><strong><%= t('.destinations') %></strong></h4>
        <div class= "row">
          <% @destination.each do |destination| %>
            <div class="destination">
              <div class="img_location">
                <%= link_to (image_tag(destination.image_url)), destination %>
              </div>
              <div class="des_location">
                <h5><%= link_to (destination.name), destination %></h5>
                <%= sanitize(destination.summary) %>
                <%= button_to t('.plan'), line_destinations_path(destination_id: destination),  {class: 'button tiny radius'} %>
                <p>Averate rating</p>
                <div id="star"></div>
              </div>
            </div>
            <% end %>  
          </div>
          <div class="pagination-centered">
            <div class="pagination">
              <%= paginate @destination %>
            </div>
          </div>
       </div>
  </div>
</div>
