<div class="content-body">
  <div class ="destination_list">
     <ul class="breadcrumbs">
      <li><a href="#"> <%= render_breadcrumbs :separator => ' / ' %></a></li>
    </ul>   
    <div class = "row">
      <div class = "large-3 columns">
        <div class= "select-destination">
          <ul class="tabs" data-tab>
            <li class="tab-title"><a href="#panel2-1"><%= t('.searchDestination')%></a></li>
          </ul>
          <div class="tabs-content">
            <div class="content active" id="panel1-1">
              <form>
                <div class="row">
                  <div class="large-12 columns">
                    <label><%= t('.selectRegion')%>
                      <%= select_tag 'search_region', options_from_collection_for_select(Region.order(:name), :id, :name) %>
                    </label>
                  </div>
                </div>
                <div class="row">
                  <div class="large-12 columns">
                    <label><%= t('.selectCity')%>
                     <%= form_tag({ controller: 'destination_list', action: 'index' }, method: 'get') do %>
                      <%= select_tag 'search_city', options_from_collection_for_select(City.order(:name), :id, :name) %>
                      <%= submit_tag "Search", name: nil, class: 'button tiny radius' %>
                    <% end %> 
                    </label>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
        <div class= "filter-destination">
          <ul class="tabs" data-tab>
            <li class="tab-title"><a href="#panel2-1"><%= t('.searchTypeDestination')%></a></li>
          </ul>
          <div class="tabs-content">
            <div class="content active" id="panel2-1">
              <form>
                <div class="row">
                  <div class="large-12 columns">
                    <%= form_tag({ controller: 'destination_list', action: 'index' }, method: 'get') do %>
                    <%= select_tag 'search_topic', options_from_collection_for_select(TypeDestination.all, :id, :name) %>
                      <%= submit_tag "Search", name: nil, class: 'button tiny radius' %>
                    <% end %> 
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
        <div class ="row">
          <div class="large-12 columns">
             <%= render @plan %>
          </div>
        </div> 
      </div>
      <div class = "large-9 columns">
        <h4><strong><%= t('.destinations') %></strong></h4>
        <div class= "row">
          <% @destination.each do |destination| %>
            <div class="destination">
              <div class="img_location">
                <%= link_to (image_tag(destination.image_url)), destination %>
              </div>
              <div class="des_location">
                <h5><%= link_to (destination.name), destination %></h5>
                <%= sanitize(destination.summary) %>
                <%= button_to 'Add to Plan', line_destinations_path(destination_id: destination),  {class: 'button tiny radius'} %>
                <p>Averate rating</p>
                <div id= "live-review"></div>
                <span id="live"></span>
              </div>
            </div>
            <% end %>  
          </div>
        <%= paginate @destination %>
       </div>
    </div>
  </div>
</div>
