 <div class="content">
  <div class ="country-content">
    <%if notice %>
    <p id="notice"><%= notice %></p>
    <% end %>
    <div class="place">
      <h1><%= t('.destinations') %></h1>

       <div class= "entry">
         <% @destination.each do |destination| %>
         <h3><%=destination.name %></h3>
           <div class="img_location">
             <%= link_to (image_tag(destination.image_url)), destination %>
           </div>
           <div class="des_location">
           <%= sanitize(destination.description) %>

            <p>Averate rating</p>
            <div id= "live-review"></div>
            <span id="live"></span>
           </div>
         <% end %>
      </div>   
    </div>
  </div>
</div>