<div class="links">
  <div class = "link-regions"> 
    <h5><%= t('.regions') %></h5>
     <ul>
       <li><%= link_to t('.andes'), region_path(1) %></li>
       <li><%= link_to t('.amazon'), region_path(2) %></li>
       <li><%= link_to t('.coast'), region_path(3) %></li>
       <li><%= link_to t('.galapagos'), region_path(4) %></li>
     </ul>
  </div>
  <div class = "link-cities">
    <h5><%= t('.cities') %></h5>
    <ul>
      <li><%= link_to t('.quito'), city_path(1) %></li>
      <li><%= link_to t('.ambato'), city_path(5) %></li>
      <li><%= link_to t('.manabi'), city_path(6) %></li>
      <li><%= link_to t('.cuenca'), city_path(2) %></li>
      <li><%= link_to t('.esmeraldas'), city_path(8) %></li>
      <li><%= link_to t('.sanCristobal'), city_path(7) %></li>
    </ul>
  </div>
  <div class = "link-gallery">
    <h5><%= t('.gallery') %></h5>
    <ul>
      <li><%= link_to t('.gallery'), gallery_index_path %></li>
    </ul>
  </div>
</div>