<% content_for :title,  t('.gallery')%>

<div class= "content-body">
  <div class="gallery">
    <ul class="breadcrumbs">
      <li><%=link_to t('.ecuadorTourism'),  index_path%></li>
      <li><%=link_to t('.aboutEcuador'), country_path(1)%></li>
      <li><%=link_to t('.gallery'), :class => 'current'%></li>
    </ul>
    <h4><strong><%= t('.gallery') %> </strong></h4>
     <div class = "row">
       <h4><strong><%= t('.amazon') %></strong></h4>
       <div class= "large-3 columns">
        <a href="http://govoluntouring.com/sites/default/files/styles/project_images_lightbox/public/images/program/GVI/Ecuador%20Amazon_0.jpg" class="fancybox" rel="gallery" ><img src="http://govoluntouring.com/sites/default/files/styles/project_images_lightbox/public/images/program/GVI/Ecuador%20Amazon_0.jpg" /></a>
       </div>
       <div class= "large-3 columns">
        <a href="http://www.beautyecuador.com/img/jungle/amazon_caiman.jpg" class="fancybox" rel="gallery" ><img src="http://www.beautyecuador.com/img/jungle/amazon_caiman.jpg" /></a>
         </div>
       <div class= "large-3 columns">
        <a href="http://ecuadoratyourservice.com/wp-content/uploads/2011/11/Amazon-Water-Reflection.jpg" class="fancybox" rel="gallery" ><img src="http://ecuadoratyourservice.com/wp-content/uploads/2011/11/Amazon-Water-Reflection.jpg" /></a>
         </div>
       <div class= "large-3 columns">
           <a href="http://www.allyouneedisecuador.info/wp-content/gallery/ecuador-amazon/ecuador-amazon-20.jpg" class="fancybox" rel="gallery" ><img src="http://www.allyouneedisecuador.info/wp-content/gallery/ecuador-amazon/ecuador-amazon-20.jpg" /></a>
         </div>
     </div>
     <hr>
     <div class = "row">
       <h4><strong><%= t('.andes') %></strong></h4>
       <div class= "large-3 columns">
       <a href="http://cdn.rsvlts.com/wp-content/uploads/2013/12/The-eruption-of-Reventador-in-the-eastern-Andes-of-Ecuador.jpg" class="fancybox" rel="gallery" ><img src="http://cdn.rsvlts.com/wp-content/uploads/2013/12/The-eruption-of-Reventador-in-the-eastern-Andes-of-Ecuador.jpg" /></a>
       </div>
       <div class ="large-3 columns">
             <a href="http://2pat.files.wordpress.com/2013/06/ecuador-andes.jpg" class="fancybox" rel="gallery" ><img src="http://2pat.files.wordpress.com/2013/06/ecuador-andes.jpg" /></a>
       </div>
       <div class ="large-3 columns">
             <a href="http://humanandnatural.com/data/media/37/cotopaxi_andes_ecuador_photo.jpg" class="fancybox" rel="gallery" ><img src="http://humanandnatural.com/data/media/37/cotopaxi_andes_ecuador_photo.jpg" /></a>
        </div>
       <div class= "large-3 columns">
           <a href="http://www.tribes.co.uk/assets/gallery/Itineraries/Day-by-Days/Ecuador/Ecuador-holiday-andes-iguanas-1.jpg" class="fancybox" rel="gallery" ><img src="http://www.tribes.co.uk/assets/gallery/Itineraries/Day-by-Days/Ecuador/Ecuador-holiday-andes-iguanas-1.jpg" /></a>
         </div>
    </div>
     <hr>
     <div class = "row">
       <h4><strong><%= t('.coast') %></strong></h4>
       <div class= "large-3 columns">
       <a href="http://www.pacedel.com.ec/Website%20photos/Malecon_escenico_en_Playa_El_Murcielago_99.jpg" class="fancybox" rel="gallery" ><img src="http://www.pacedel.com.ec/Website%20photos/Malecon_escenico_en_Playa_El_Murcielago_99.jpg" /></a>
       </div>
       <div class ="large-3 columns">
             <a href="http://fotos.lahora.com.ec/cache/b/b3/b3b/b3b5/-20110815062023-b3b51abc99ad148fb3f668454bf89520.jpg" class="fancybox" rel="gallery" ><img src="http://fotos.lahora.com.ec/cache/b/b3/b3b/b3b5/-20110815062023-b3b51abc99ad148fb3f668454bf89520.jpg" /></a>
       </div>
       <div class ="large-3 columns">
             <a href="http://4.bp.blogspot.com/-0nyc2romhZc/TfaNPi1LnoI/AAAAAAAADOY/BsDpZG0VY48/s640/Ecuador.jpg" class="fancybox" rel="gallery" ><img src="http://4.bp.blogspot.com/-0nyc2romhZc/TfaNPi1LnoI/AAAAAAAADOY/BsDpZG0VY48/s640/Ecuador.jpg" /></a>
        </div>
       <div class= "large-3 columns">
           <a href="http://updategastro.com/images/salinas.jpg" class="fancybox" rel="gallery" ><img src="http://updategastro.com/images/salinas.jpg" /></a>
         </div>
    </div>
     <hr>
     <div class = "row">
       <h4><strong><%= t('.galapagos') %></strong></h4>
       <div class= "large-3 columns">
       <a href="http://www.ecuaworld.com.ec/images/bluefootedboobies.jpg" class="fancybox" rel="gallery" data-fancybox-type="iframe"><img src="http://www.ecuaworld.com.ec/images/bluefootedboobies.jpg" /></a>
       </div>
       <div class ="large-3 columns">
             <a href="http://www.travelgroup.com.pe/archivos/imagenes/paises/ecuador/islas-galapagos-ecuador-.jpg" class="fancybox" rel="gallery" data-fancybox-type="iframe"><img src="http://www.travelgroup.com.pe/archivos/imagenes/paises/ecuador/islas-galapagos-ecuador-.jpg" /></a>
       </div>
       <div class ="large-3 columns">
             <a href="http://www.mdzol.com/files/image/244/244748/4d5bea1612b8c.jpg" class="fancybox" rel="gallery" data-fancybox-type="iframe"><img src="http://www.mdzol.com/files/image/244/244748/4d5bea1612b8c.jpg" /></a>
        </div>
       <div class= "large-3 columns">
           <a href="http://i.hoy.ec/wp-content/uploads/2011/05/turismo1.jpg" class="fancybox" rel="gallery" data-fancybox-type="iframe"><img src="http://i.hoy.ec/wp-content/uploads/2011/05/turismo1.jpg" /></a>
         </div>
    </div>
  </div>
</div>


