<!-- Add jQuery library -->
<script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>

<!-- Add mousewheel plugin (this is optional) -->
<script type="text/javascript" src="/fancybox/lib/jquery.mousewheel-3.0.6.pack.js"></script>

<!-- Add fancyBox -->
<link rel="stylesheet" href="/fancybox/source/jquery.fancybox.css?v=2.1.5" type="text/css" media="screen" />
<script type="text/javascript" src="/fancybox/source/jquery.fancybox.pack.js?v=2.1.5"></script>

<!-- Optionally add helpers - button, thumbnail and/or media -->
<link rel="stylesheet" href="/fancybox/source/helpers/jquery.fancybox-buttons.css?v=1.0.5" type="text/css" media="screen" />
<script type="text/javascript" src="/fancybox/source/helpers/jquery.fancybox-buttons.js?v=1.0.5"></script>
<script type="text/javascript" src="/fancybox/source/helpers/jquery.fancybox-media.js?v=1.0.6"></script>

<link rel="stylesheet" href="/fancybox/source/helpers/jquery.fancybox-thumbs.css?v=1.0.7" type="text/css" media="screen" />
<script type="text/javascript" src="/fancybox/source/helpers/jquery.fancybox-thumbs.js?v=1.0.7"></script>

<div class= "content-body">
  <div class="gallery">
     <ul class="breadcrumbs">
      <li><a href="#"> <%= render_breadcrumbs :separator => ' / ' %></a></li>
    </ul>
    <h4><strong><%= t('.gallery') %> </strong></h4>
     <div class = "row">
       <h4><strong><%= t('.amazon') %></strong></h4>
       <div class= "large-3 columns">
        <a href="http://govoluntouring.com/sites/default/files/styles/project_images_lightbox/public/images/program/GVI/Ecuador%20Amazon_0.jpg" class="fancybox" rel="gallery" ><img src="http://govoluntouring.com/sites/default/files/styles/project_images_lightbox/public/images/program/GVI/Ecuador%20Amazon_0.jpg" /></a>
       </div>
       <div class= "large-3 columns">
        <a href="http://www.beautyecuador.com/img/jungle/amazon_caiman.jpg" class="fancybox" rel="gallery" ><img src="http://www.beautyecuador.com/img/jungle/amazon_caiman.jpg" /></a>
         </div>
       <div class= "large-3 columns">
        <a href="http://ecuadoratyourservice.com/wp-content/uploads/2011/11/Amazon-Water-Reflection.jpg" class="fancybox" rel="gallery" ><img src="http://ecuadoratyourservice.com/wp-content/uploads/2011/11/Amazon-Water-Reflection.jpg" /></a>
         </div>
       <div class= "large-3 columns">
           <a href="http://www.allyouneedisecuador.info/wp-content/gallery/ecuador-amazon/ecuador-amazon-20.jpg" class="fancybox" rel="gallery" ><img src="http://www.allyouneedisecuador.info/wp-content/gallery/ecuador-amazon/ecuador-amazon-20.jpg" /></a>
         </div>
     </div>
     <hr>
     <div class = "row">
       <h4><strong><%= t('.andes') %></strong></h4>
       <div class= "large-3 columns">
       <a href="http://cdn.rsvlts.com/wp-content/uploads/2013/12/The-eruption-of-Reventador-in-the-eastern-Andes-of-Ecuador.jpg" class="fancybox" rel="gallery" ><img src="http://cdn.rsvlts.com/wp-content/uploads/2013/12/The-eruption-of-Reventador-in-the-eastern-Andes-of-Ecuador.jpg" /></a>
       </div>
       <div class ="large-3 columns">
             <a href="http://2pat.files.wordpress.com/2013/06/ecuador-andes.jpg" class="fancybox" rel="gallery" ><img src="http://2pat.files.wordpress.com/2013/06/ecuador-andes.jpg" /></a>
       </div>
       <div class ="large-3 columns">
             <a href="http://humanandnatural.com/data/media/37/cotopaxi_andes_ecuador_photo.jpg" class="fancybox" rel="gallery" ><img src="http://humanandnatural.com/data/media/37/cotopaxi_andes_ecuador_photo.jpg" /></a>
        </div>
       <div class= "large-3 columns">
           <a href="http://www.tribes.co.uk/assets/gallery/Itineraries/Day-by-Days/Ecuador/Ecuador-holiday-andes-iguanas-1.jpg" class="fancybox" rel="gallery" ><img src="http://www.tribes.co.uk/assets/gallery/Itineraries/Day-by-Days/Ecuador/Ecuador-holiday-andes-iguanas-1.jpg" /></a>
         </div>
    </div>
     <hr>
     <div class = "row">
       <h4><strong><%= t('.coast') %></strong></h4>
       <div class= "large-3 columns">
       <a href="http://www.pacedel.com.ec/Website%20photos/Malecon_escenico_en_Playa_El_Murcielago_99.jpg" class="fancybox" rel="gallery" ><img src="http://www.pacedel.com.ec/Website%20photos/Malecon_escenico_en_Playa_El_Murcielago_99.jpg" /></a>
       </div>
       <div class ="large-3 columns">
             <a href="http://fotos.lahora.com.ec/cache/b/b3/b3b/b3b5/-20110815062023-b3b51abc99ad148fb3f668454bf89520.jpg" class="fancybox" rel="gallery" ><img src="http://fotos.lahora.com.ec/cache/b/b3/b3b/b3b5/-20110815062023-b3b51abc99ad148fb3f668454bf89520.jpg" /></a>
       </div>
       <div class ="large-3 columns">
             <a href="http://4.bp.blogspot.com/-0nyc2romhZc/TfaNPi1LnoI/AAAAAAAADOY/BsDpZG0VY48/s640/Ecuador.jpg" class="fancybox" rel="gallery" ><img src="http://4.bp.blogspot.com/-0nyc2romhZc/TfaNPi1LnoI/AAAAAAAADOY/BsDpZG0VY48/s640/Ecuador.jpg" /></a>
        </div>
       <div class= "large-3 columns">
           <a href="http://updategastro.com/images/salinas.jpg" class="fancybox" rel="gallery" ><img src="http://updategastro.com/images/salinas.jpg" /></a>
         </div>
    </div>
     <hr>
     <div class = "row">
       <h4><strong><%= t('.galapagos') %></strong></h4>
       <div class= "large-3 columns">
       <a href="http://www.ecuaworld.com.ec/images/bluefootedboobies.jpg" class="fancybox" rel="gallery" ><img src="http://www.ecuaworld.com.ec/images/bluefootedboobies.jpg" /></a>
       </div>
       <div class ="large-3 columns">
             <a href="http://www.travelgroup.com.pe/archivos/imagenes/paises/ecuador/islas-galapagos-ecuador-.jpg" class="fancybox" rel="gallery" ><img src="http://www.travelgroup.com.pe/archivos/imagenes/paises/ecuador/islas-galapagos-ecuador-.jpg" /></a>
       </div>
       <div class ="large-3 columns">
             <a href="http://www.mdzol.com/files/image/244/244748/4d5bea1612b8c.jpg" class="fancybox" rel="gallery" ><img src="http://www.mdzol.com/files/image/244/244748/4d5bea1612b8c.jpg" /></a>
        </div>
       <div class= "large-3 columns">
           <a href="hhttp://i.hoy.ec/wp-content/uploads/2011/05/turismo1.jpg" class="fancybox" rel="gallery" ><img src="http://i.hoy.ec/wp-content/uploads/2011/05/turismo1.jpg" /></a>
         </div>
    </div>
  </div>
</div>
