<div class= "content-body">
  <ul class="breadcrumbs">
    <li><a href="#"> <%= render_breadcrumbs :separator => ' / ' %></a></li>
  </ul>
  <div class = "row">
       <h4><strong><%= @country.name %></strong></h4>
        <div class = "large-9 columns">
          <div class = "image-ecuador">
            <%= image_tag (@country.image_url) %>
          </div>
          <div class = "information">
            <dl class="accordion" data-accordion>
            <dd class="accordion-navigation">
              <a href="#panel1"><h5><%= t ('.description')%>:</h5></a>
              <div id="panel1" class="content active">
                <%= @country.description %>
              </div>
             </dd>
             <dd class="accordion-navigation">
               <a href="#panel2"><h5><%= t ('.geography')%>:</h5></a>
               <div id="panel2" class="content">
                <%= @country.geography %>
                  <div class = "row">
                   <h5><%= t('.provinces') %></h5>
                   <table>
                       <tr>
                         <th>Province</th>
                         <th>Capital</th>
                       </tr>
                       <tr>
                         <td>Azuay</td>
                         <td>Cuenca</td>
                       </tr>
                        <tr>
                         <td>Bolivar</td>
                         <td>Guaranda</td>
                       </tr>
                        <tr>
                         <td>Cañar</td>
                         <td>Azogues</td>
                       </tr>
                        <tr>
                         <td>Carchi</td>
                         <td>Tulcán</td>
                       </tr>
                        <tr>
                         <td>Chimborazo</td>
                         <td>Riobamba</td>
                       </tr>
                        <tr>
                         <td>Cotopaxi</td>
                         <td>Latacunga</td>
                       </tr> <tr>
                         <td>El Oro</td>
                         <td>Machala</td>
                       </tr> 
                       <tr>
                         <td>Esmeraldas</td>
                         <td>Esmeraldas</td>
                       </tr>
                       <tr>
                         <td>Galapagos</td>
                         <td>Puerto Baquerizo Moreno</td>
                       </tr>
                       <tr>
                         <td>Guayas</td>
                         <td>Guayaquil</td>
                       </tr>
                       <tr>
                         <td>Imbabura</td>
                         <td>Ibarra</td>
                       </tr>
                       <tr>
                         <td>Loja</td>
                         <td>Loja</td>
                       </tr>
                       <tr>
                         <td>Los Ríos</td>
                         <td>Babahoyo</td>
                       </tr>
                        <tr>
                         <td>Manbí</td>
                         <td>Portoviejo</td>
                       </tr>
                        <tr>
                         <td>Morona Santiago</td>
                         <td>Morona</td>
                       </tr>
                        <tr>
                         <td>Napo</td>
                         <td>Tena</td>
                       </tr>
                        <tr>
                         <td>Orellana</td>
                         <td>Puerto Francisco de Orellana</td>
                       </tr>
                         <tr>
                         <td>Pastaza</td>
                         <td>Puyo</td>
                       </tr>
                         <tr>
                         <td>Pichincha</td>
                         <td>Quito</td>
                       </tr>
                         <tr>
                         <td>Santa Elena</td>
                         <td>Santa Elena</td>
                       </tr>
                         <tr>
                         <td>Santo Domingo de los Tsáchilas</td>
                         <td>Santo Domingo</td>
                       </tr>
                         <tr>
                         <td>Sucumbíos</td>
                         <td>Nueva Loja</td>
                       </tr>
                        <tr>
                         <td>Tungurahua</td>
                         <td>Ambato</td>
                       </tr>
                       <tr>
                         <td>Zamora Chinchipe</td>
                         <td>Zamora</td>
                       </tr>
                     </table>
                 </div>
               </div>
             </dd>
             <dd class="accordion-navigation">
               <a href="#panel3"><h5><%= t ('.weather')%>:</h5></a>
               <div id="panel3" class="content">
                 <%= @country.weather %>
               </div>
             </dd>
             <dd class="accordion-navigation">
               <a href="#panel4"><h5><%= t ('.timeZone')%></h5></a>
               <div id="panel4" class="content">
                 <%= @country.time_zone %>
               </div>
             </dd>
             <dd class="accordion-navigation">
               <a href="#panel5"><h5><%= t ('.visaInformation')%>:</h5></a>
               <div id="panel5" class="content">
                 <%= @country.visa_information %>
               </div>
             </dd>
             <dd class="accordion-navigation">
               <a href="#panel6"><h5><%= t ('.population')%>:</h5></a>
               <div id="panel6" class="content">
                 <%= @country.population %>
                  <div class="row">
                   <div class="geography">
                     <%= image_tag('mapa_etnografico_ecuador1.jpg') %>
                   </div>
                 </div>
               </div>
             </dd>
             <dd class="accordion-navigation">
               <a href="#panel7"><h5><%= t ('.currency')%>:</h5></a>
               <div id="panel7" class="content">
                 <%= @country.currency %>
               </div>
             </dd>
             <dd class="accordion-navigation">
               <a href="#panel8"><h5><%= t ('.emergencyServices')%>:</h5></a>
               <div id="panel8" class="content">
                 <%= @country.emergency_services %>
                </div>
             </dd>
             <dd class="accordion-navigation">
               <a href="#panel9"><h5><%= t ('.transport')%>:</h5></a>
               <div id="panel9" class="content">
                 <%= @country.transport %>
              </div>
             </dd>
          </dl>
          </div>
        </div>  
        <div class = "large-3 columns">
          <%= render "shared/linkregion" %>
        </div>
  </div>
</div>

