<div class= "content-body">
  <div class="country">
    <ul class="breadcrumbs">
         <li><%= link_to  t('.ecuadorTurism'), index_path %></li>
         <li class="current"><%= link_to  t('.aboutEcuador'), country_path(1) %></li>
       </ul>
    <p id="notice"><%= notice %></p>
      <h3><%= @country.name %></h3>
     <div class = "row">
        <div class = "large-9 columns">
          <div class = "image-ecuador">
            <%= image_tag (@country.image_url) %>
          </div>
           <dl class="accordion" data-accordion>
            <dd class="accordion-navigation">
              <a href="#panel1"><h5><%= t ('.description')%>:</h5></a>
              <div id="panel1" class="content active">
                <%= @country.description %>
              </div>
             </dd>
             <dd class="accordion-navigation">
               <a href="#panel2"><h5><%= t ('.geography')%>:</h5></a>
               <div id="panel2" class="content">
                <%= @country.geography %>
               </div>
             </dd>
             <dd class="accordion-navigation">
               <a href="#panel3"><h5><%= t ('.weather')%>:</h5></a>
               <div id="panel3" class="content">
                 <%= @country.weather %>
               </div>
             </dd>
             <dd class="accordion-navigation">
               <a href="#panel4"><h5><%= t ('.timeZone')%></h5></a>
               <div id="panel4" class="content">
                 <%= @country.time_zone %>
               </div>
             </dd>
             <dd class="accordion-navigation">
               <a href="#panel5"><h5><%= t ('.visaInformation')%>:</h5></a>
               <div id="panel5" class="content">
                 <%= @country.visa_information %>
               </div>
             </dd>
             <dd class="accordion-navigation">
               <a href="#panel6"><h5><%= t ('.population')%>:</h5></a>
               <div id="panel6" class="content">
                 <%= @country.population %>
               </div>
             </dd>
             <dd class="accordion-navigation">
               <a href="#panel7"><h5><%= t ('.currency')%>:</h5></a>
               <div id="panel7" class="content">
                 <%= @country.currency %>
               </div>
             </dd>
             <dd class="accordion-navigation">
               <a href="#panel8"><h5><%= t ('.emergencyServices')%>:</h5></a>
               <div id="panel8" class="content">
                 <%= @country.emergency_services %>
                </div>
             </dd>
             <dd class="accordion-navigation">
               <a href="#panel9"><h5><%= t ('.transport')%>:</h5></a>
               <div id="panel9" class="content">
                 <%= @country.transport %>
              </div>
             </dd>
          </dl>
        </div>  
        <div class = "large-3 columns">
      <p>hkjhj</p>
    </div>
     </div>
  </div>
</div>