<div class="country">
  <div class="show">
     <ul class="breadcrumbs">
       <li><%= link_to  t('.ecuadorTurism'), index_path %></li>
       <li class="current"><%= link_to  t('.aboutEcuador'), country_path(1) %></li>
     </ul>
    <p id="notice"><%= notice %></p>

    <h1><%= @country.name %></h1>
    <h3>Description:</h3><%= @country.description %>
    <strong>Image url:</strong>
      <%= @country.image_url %>
    <h3>Geography:</h3><%= @country.geography %>
    <h3>Weather:</h3><%= @country.weather %>
    <h3>Time zone:</h3><%= @country.time_zone %>
    <h3>Visa information:</h3><%= @country.visa_information %>
    <h3>Population:</h3><%= @country.population %>
    <h3>Currency:</h3><%= @country.currency %>
    <h3>Emergency services:</h3><%= @country.emergency_services %>
    <h3>Transport:</h3><%= @country.transport %>
  </div>
</div>