<div class="content-body">
  <div class ="country-content">
    <p id="notice"><%= notice %></p>

    <p>
      <strong>Name:</strong>
      <%= @city.name %>
    </p>

    <p>
      <strong>Region:</strong>
      <%= @city.region_id %>
    </p>

    <p>
      <strong>Image url:</strong>
      <%= @city.image_url %>
    </p>

    <p>
      <strong>Description:</strong>
      <%= @city.description %>
    </p>
    <p>
      <strong>Address:</strong>
      <%= @city.address %>
    </p>
    <p>
      <strong>Latitude:</strong>
      <%= @city.latitude %>
    </p>
    <p>
      <strong>Longitude:</strong>
      <%= @city.longitude %>
    </p>

    <%= link_to 'Edit', edit_city_path(@city) %> |
    <%= link_to 'Back', cities_path %>
  </div>
</div>