<div class="content">
  <div class ="country-content">
     <ul class="breadcrumbs">
       <li><%= link_to  t('.ecuadorTurism'), index_path %></li>
       <li class="current"><%= link_to  t('.destination'), destination_list_index_path %></li>
       <li class="current"><%= link_to  t('.destination_show') %></li>
     </ul>
    <p id="notice"><%= notice %></p>

    <h2> <%= @destination.name %></h2>
     <p>
      <strong>City:</strong>
      <%= @destination.city_id %>
    </p>

    <p>
      <strong>Type destination:</strong>
      <%= @destination.type_destination_id %>
    </p>

    <p>
      <%= image_tag(@destination.image_url) %>
    </p>

    <p>
      <strong>Description:</strong>
      <%= @destination.description %>
    </p>

    <p>
      <strong>Address:</strong>
      <%= @destination.address %>
    </p>

    <p>
      <strong>Phone:</strong>
      <%= @destination.phone %>
    </p>

    <p>
      <strong>Website:</strong>
      <%= @destination.website %>
    </p>

    <%= link_to 'Edit', edit_destination_path(@destination) %> |
    <%= link_to 'Back', destinations_path %>
  </div>
</div>