<h1>Listing activities</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>City</th>
      <th>Type activity</th>
      <th>Image url</th>
      <th>Summary</th>
      <th>Description</th>
      <th>Address</th>
      <th>Latitude</th>
      <th>Longitude</th>
      <th>Website</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @activities.each do |activity| %>
      <tr>
        <td><%= activity.name %></td>
        <td><%= activity.city %></td>
        <td><%= activity.type_activity %></td>
        <td><%= activity.image_url %></td>
        <td><%= activity.summary %></td>
        <td><%= activity.description %></td>
        <td><%= activity.address %></td>
        <td><%= activity.latitude %></td>
        <td><%= activity.longitude %></td>
        <td><%= activity.website %></td>
        <td><%= link_to 'Show', activity %></td>
        <td><%= link_to 'Edit', edit_activity_path(activity) %></td>
        <td><%= link_to 'Destroy', activity, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Activity', new_activity_path %>
