<div class="content-body">
  <div class ="country-content">
      <ul class="breadcrumbs">
      <li><a href="#"> <%= render_breadcrumbs :separator => ' / ' %></a></li>
      </ul>
    <div class ="row">
      <div class= "large-3 columns">
        <p>sdfas</p>
      </div>
      <div class= "large-9 columns">
        <div class="row">
          <div class = "large-9 columns">
            <h4><strong><%= @activity.name %></strong></h4>
            <ul class="social-share-list list-inline">
              <li class="twt">
                <%= tweet_button %>
              </li>
              <li class="fb">
                <%= like_button(690575874330211) %>
              </li>
              <li class="pi">
                <%= pinit_button(url: request.url, media: @activity.image_url, description: "Amazing Picture") %>
              </li>
              <li class = "gp">
                <%= google_plus_button %>
              </li>
            </ul>
          </div>
          <div class = "large-3 columns">
            <h5>Share:</h5><%= social_share_button_tag(@activity.image_url) %>         
          </div>
        </div>
        <div class= "row">
           <%= @activity.image_url %>

          <p>
            <strong>Summary:</strong>
            <%= @activity.summary %>
          </p>

          <p>
            <strong>Description:</strong>
            <%= @activity.description %>
          </p>

          <p>
            <strong>Address:</strong>
            <%= @activity.address %>
          </p>

          <p>
            <strong>Latitude:</strong>
            <%= @activity.latitude %>
          </p>

          <p>
            <strong>Longitude:</strong>
            <%= @activity.longitude %>
          </p>

          <p>
            <strong>Website:</strong>
            <%= @activity.website %>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
