<% content_for :title,  @region.name%>

<div class="content-body">
  <div class ="country-content">
    <ul class="breadcrumbs">
      <li><%=link_to t('.ecuadorTourism'),  index_path%></li>
      <li><%=link_to t('.aboutEcuador'),  country_path(1) %></li>
      <li><%=link_to t('.regions'), :class => 'unavailable' %></li>
      <li><%=link_to  @region.name, :class => 'current' %></li>
    </ul>
    <p>
      <strong> name:</strong>
      <%= @region.name %>
    </p>

     <p>
      <strong>Country id:</strong>
       <%= @region.country_id %>
    </p>
    
    <p>
      <strong>Image url:</strong>
      <%= @region.image_url %>
    </p>

    <p>
      <strong>Description:</strong>
      <%= @region.description %>
    </p>

    <%= link_to 'Edit', edit_region_path(@region) %> |
    <%= link_to 'Back', regions_path %>
  </div>
</div>