<% content_for :title,  t('.events')%>

<div class = "content-body">
  <ul class="breadcrumbs">
    <li><%=link_to t('.ecuadorTourism'),  index_path%></li>
    <li><%=link_to t('.events'), :class => 'current'%></li>
  </ul>
  <div class ="row">
    <div class= "large-3 columns">
        <div id= "calendare">
        </div>
        <div class ="search-div">
          <h5><strong><%= t('.searchEvent') %></strong></h5>
          <div class= "select-destination">
            <ul class="tabs" data-tab>
              <li class="tab-title"><a href="#panel2-1"><%= t('.byCity')%></a></li>
            </ul>
            <div class="tabs-content">
              <div class="content active" id="panel2-1">
                <form>
                  <div class="row">
                    <div class="large-12 columns">
                      <label><%= t('.selectCity')%>
                        <%= form_tag({ controller: 'list_event', action: 'index' }, method: 'get') do %>
                        <%= select_tag 'search_city', option_groups_from_collection_for_select(@regions, :cities, :name, :id, :name, 1) %>
                        <%= submit_tag t('.go'), name: nil, class: 'button tiny radius' %>
                      <% end %> 
                      </label>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    <div class= "large-9 columns">
        <h4><strong><%= t('.events') %></strong></h4>
        <div class= "row">
          <% @events.each do |event| %>
            <div class="destination">
              <div class="img_location">
                <%= link_to (image_tag(event.image_url)), event %>
              </div>
              <div class="des_location">
                <h5><%= link_to (event.name), event %></h5>
                <p><strong><%= event.city_id %>, Ecuador</strong></p>
                <p><%= sanitize(event.summary) %></p>
              </div>
            </div>
            <% end %>  
          </div>
         <div class="pagination-centered">
           <div class="pagination">
             <%= paginate @events %>
           </div>
         </div>
      </div>
  </div>
</div>