<div class = "header">
  <div class = "header-up">
      <div class = "logo">
        <%= image_tag("logo.png") %>
      </div>
      <!--<div class ="header-right">
        <nav class="top-bar"> 
          <section class="top-bar-section">
         
            <ul class="right">
              <li class= "has-form">
                <div class = "language">
                  <%= form_tag(root_url, class: 'locale') do %>
                  <%= select_tag(:LANGUAGES, options_for_select([['Español', 1], ['English', 2]])) %>
                  <% end %>
                </div>
              </li>
              <li class="divider"></li>
              <li class= "has-form">
                 <div class = "search">
                   <div class="row collapse">
                     <div class="small-10 columns">
                       <%= form_tag("/search", method: "get") do %>
                       <%= text_field_tag(:q) %>
                     </div>
                     <div class="small-2 columns">
                       <%= submit_tag("Search", class: "button radius")%>
                       <% end %>  
                     </div>
                   </div>       
                 </div>
              </li>
            </ul> 
          </section>
        </nav> 
      </div>-->
      <div class ="other_menu">
        <nav class="top-bar" data-topbar>
          <ul class="title-area">
            <li class="name">
              <h1><a href="#"></a></h1>
            </li>
            <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
            <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
          </ul>
          <section class="top-bar-section">
            <!-- Right Nav Section -->
            <ul class="right">
              <li><a href="#"><%= link_to  t('.aboutEcuador')%></a></li>
              <li class="divider"></li>
              <li>
               <div class="small-12 columns">
                <select>
                  <option value="husker">Husker</option>
                  <option value="starbuck">Starbuck</option>
                  <option value="hotdog">Hot Dog</option>
                  <option value="apollo">Apollo</option>
                 </select></div>
              </li>
              <li class="divider"></li>
              <li>
                <ul>
                  <div class="small-12 columns">
                    <div class="row collapse">
                      <div class="small-10 columns">
                        <input type="text" placeholder="Search">
                      </div>
                      <div class="small-2 columns">
                        <a href="#" class="button tiny">Go</a>
                      </div>
                    </div>
                  </div>
                </ul>
              </li>
              <li class="divider"></li>
              <% if user_signed_in? %>
              <li class="has-dropdown">
                <a href="#"><%= current_user.username %></a>
                <ul class="dropdown">
                  <li><%= link_to  t('.profile') %></li>
                  <li><%= link_to  t('.logout'), destroy_user_session_path, method: :delete %></li>
                </ul>
              </li>
              <% else %> 
              <li>
                <ul>
                  <li><%= link_to t('.signup'), new_user_registration_path %></li>
                  <li><%= link_to t('.signin'), new_user_session_path %></li>
                </ul>
              </li>
                <% end %>
            </ul>
          </section>
        </nav>
      </div>
      <div class = "banner">
        <%= image_tag("advertice.png") %>
      </div>
  </div>
  <div class = "menu">
  <nav class="top-bar" data-topbar>
    <ul class="title-area">
      <li class="name">
        <h1><a href="#"><%= link_to  t('.ecuadorTurism'), root_url %></a></h1>
      </li>
       <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
      <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
    </ul>

    <section class="top-bar-section">
      <!-- Right Nav Section -->
      <ul class="right">
        <li>
          <a href="#"><%= link_to  t('.aboutEcuador'), country_path(1) %></a></li>
          <li class="divider"></li>
         <li>
           <a href="#"><%= link_to  t('.whatsOn') %></a></li>
          <li class="divider"></li>
         <li>
           <a href="#"><%= link_to  t('.destinations') %></a></li>
         <li class="divider"></li>
         <li>
           <a href="#"><%= link_to  t('.activities') %></a></li>
         <li class="divider"></li>
         <li class="has-dropdown">
          <a href="#"><%= link_to  t('.tripPlanner')  %></a>
          <ul class="dropdown">
            <li><a href="#">First link in dropdown</a></li>
          </ul>
        </li>
         <li class="divider"></li>
         <li>
           <a href="#"><%= link_to  t('.experiences') %></a></li>
      </ul>
    </section>
  </nav>
 </div>
</div>