<div class = "header">
  <div class = "header-up">
      <div class = "logo">
        <%= image_tag("logo.png") %>
      </div>
      <div class ="other_menu">
        <nav class="top-bar" data-topbar>
          <ul class="title-area">
            <li class="name">
              <h1><a href="#"></a></h1>
            </li>
            <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
            <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
          </ul>
          <section class="top-bar-section">
            <!-- Right Nav Section -->
            <ul class="right">
             <li><div class ="social">
                <ul>
                  <li><%= link_to (image_tag "facebook.png"), "https://www.facebook.com/ecuadortourism2014"%></li>
                  <li><%= link_to (image_tag "twitter.png"), "https://twitter.com/ecuadortourism2"%></li>
                  <li><%= link_to (image_tag "google+.png"), "https://plus.google.com/u/0/b/108780795002086708510/108780795002086708510/posts"%></li>
               </ul></div>
              </li>
              <li class="divider"></li>
              <li><div class="small-12 columns">
                 <%= form_tag current_path, class: 'locale', :method => :get do %>
                    <%= select_tag 'set_locale',
                        options_for_select(LANGUAGES, I18n.locale.to_s),
                        onchange: 'this.form.submit()'%>
                    <%= javascript_tag "$('.locale input').hide()" %>
                 <% end %>
                </div></li>
              <li class="divider"></li>
              <li>
                <ul>
                  <div class="small-12 columns">
                    <div class="row collapse">
                      <div class="small-10 columns">
                        <%= form_tag destination_list_index_path, :method => :get do %>
                        <%= text_field_tag :query, params[:query] %>
                      </div>
                      <div class="small-2 columns">
                        <%= submit_tag "Go", :class=> "button tiny", :name => nil %>
                        <% end %>
                      </div>
                    </div>
                  </div>
                </ul>
              </li>
              <li class="divider"></li>
              <% if user_signed_in? %>
              <li class="has-dropdown">
                <a href="#"><%= current_user.username %></a>
                <ul class="dropdown">
                  <li><%= link_to  t('.profile') %></li>
                  <li><%= link_to  t('.logout'), destroy_user_session_path, method: :delete %></li>
                </ul>
              </li>
              <% else %> 
               <ul>
                  <li><%= link_to t('.signup'), new_user_registration_path %></li>
                </ul>
                <li class="divider"></li>
                <ul>
                  <li><%= link_to t('.signin'), new_user_session_path %></li>
                </ul>
              <% end %>
            </ul>
          </section>
        </nav>
      </div>
      <div class = "banner">
        <%= image_tag("advertice.png") %>
      </div>
  </div>
  <div class = "menu">
  <nav class="top-bar" data-topbar>
    <ul class="title-area">
      <li class="name">
        <h1><a href="#"><%= link_to  t('.ecuadorTurism'), index_path %></a></h1>
      </li>
       <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
      <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
    </ul>

    <section class="top-bar-section">
      <!-- Right Nav Section -->
      <ul class="right">
        <li>
          <a href="#"><%= link_to  t('.aboutEcuador'), country_path(1) %></a></li>
          <li class="divider"></li>
         <li>
           <a href="#"><%= link_to  t('.events') %></a></li>
          <li class="divider"></li>
         <li>
           <a href="#"><%= link_to  t('.destinations'), destination_list_index_path %></a></li>
         <li class="divider"></li>
         <li>
           <a href="#"><%= link_to  t('.activities') %></a></li>
         <li class="divider"></li>
         <li class="has-dropdown">
           <a href="#"><%= link_to  t('.tripPlanner')%></a>
          <ul class="dropdown">
            <li><a href="#">First link in dropdown</a></li>
          </ul>
        </li>
         <li class="divider"></li>
         <li>
           <a href="#"><%= link_to  t('.experiences') %></a></li>
      </ul>
    </section>
  </nav>
 </div>
</div>